@media (prefers-color-scheme: dark) {
    body {
      background-color: #313131;
      color: #ececec;
    }

    a:visited {
      color: #f7e1e1;
    }

    a:link {
      color: #f7e1e1;
    }
  }